<h1>Edit State</h1>
 
<div class="row">
  <div class="col-md-12">
    <%= form_for @state do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control', placeholder: "Enter the name of the State" %>
      </div>
      <div class="form-group">
        <%= f.label :population %>
        <%= f.number_field :population, class: 'form-control', placeholder: "Choose a number between 500 and 30,000", in: 500..30000, step: 'any' %>
      </div>
      <div class="form-group">
        <%= f.label 'X Coordinate'%>
        <%= f.select(:x, options_for_select(1..10,@state.x))%>
        <%= f.label 'Y Coordinate'%>
        <%= f.select(:y, options_for_select(1..10,@state.y))%>
      </div>
      <div class="form-group">
        <%= f.label :note %>
        <%= f.text_area :note, rows: 5, placeholder: "Leave a note or a comment", class: 'form-control'%>
      </div>
 
      <%= f.submit "Save", class: 'btn btn-success'  %>
  </div>
 </div>

 <% end %>